.cell {
    width: 50px;
    height: 50px;
    background-color: rgb(72, 170, 231);
    margin-right: 1px;
}

.table {
    border: solid 2px rgb(72, 170, 231);
    width: fit-content;
    height: fit-content;
    padding-top: 1px;
    padding-left: 1px;
}

.tableRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
}