html, body {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.plusColumnButton {
  float: right;
  background-color: rgb(240, 167, 0);
  margin-top: 3px;
  margin-left: 1px;
}

.plusColumnButton:hover {
  background-color: rgb(250, 192, 82);
}

.table {
  border: solid 2px rgb(72, 170, 231);
  display: inline-block;
}

.tableRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;
}

.tableRow:first-child {
  margin-top: 1px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(72, 170, 231);
  margin-right: 1px;
}

.cell:first-child {
  margin-left: 1px;
}

.cell:last-child {
  margin-right: 1px;
}

.plusRowButton {
  background-color: rgb(240, 167, 0);
  margin-left: 53px;
}

.plusRowButton:hover {
  background-color: rgb(250, 192, 82);
}

.minusColumnButton {
  position: relative;
  background-color: rgb(176, 1, 0);
  left: 1px;
  margin-bottom: 1px;
  visibility: hidden;
}

.minusColumnButton:hover {
  background-color: rgb(197, 77, 76);
}

.minusRowButton {
  position: relative;
  top: 1px;
  float: left;
  margin-right: 1px;
  background-color: rgb(176, 1, 0);
  visibility: hidden;
}

.minusRowButton:hover {
  background-color: rgb(197, 77, 76);
}

img {
  width: 30%;
  height: 30%;
}